$default_background:#f5f5f5;
$header_background:#2a2a2a;
$header_color:#999999;
$line_background:#888888;
$header_selected:#b6b6b6;

$search_background:rgba(80, 80, 80, 0.4);
$search_background_hover:rgba(80, 80, 80, 0.8);
$input_color:#aaaaaa;
$input_placeholder:#7a7a7a;

$footer_default:#666666;

$body_background:#222328;

$default_white:#ffffff;

$detail_title:#222222;
$detail_line:rgb(235, 235, 235);
$detail_button:rgb(0, 164, 230);
$detail_button_hover:rgb(9, 172, 236);

$red:#eb7070;
$yellow:#fec771;
$green:#7ecfc0;
$blue:#409EFF;
$purple:#ffdcf7;

$search_hover:#ebebeb;
$search_active:#dadada;
$search_page:rgba(180, 180, 180, 0.4);